# Reference implementation used by the interactive lessons.
# Includes the offset-spur correction that is not in the PyPI 0.9.1 release.
adctoolbox @ git+https://github.com/Arcadia-1/ADCToolbox.git@8d62fb1863e38ffe5c6cc3ac48fa9c24d9df1ae9#subdirectory=python
